<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

    {{> header}}

<body>
    <img src={{card1}} alt="First Card">
    <img src={{card2}} alt="Second Card">
    <img src={{card3}} alt="Third Card">
    <img src={{card4}} alt="Fourth Card">
    <img src={{card5}} alt="Fifth Card">
</body>
<br>
<button type="submit" onClick="window.location.reload()">Refresh Cards</button>
    {{> footer}}

</html>