<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

    {{> header}}

<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center">
    <img src={{image1}} width="400" alt="First Image">
    <img src={{image2}} width="400" alt="Second Image">
    <img src={{image3}} width="400" alt="Third Image">
    <img src={{image4}} width="400" alt="Fourth Image">
    <img src={{image5}} width="400" alt="Fifth Image">
</body>

</html>